<h1>Tus Bandas</h1>
<!-- Añadir banda para seguir estadisticas -->
<div class="row">
	<div class="col-md-4">
		<%= form_tag("/home/crear",:class => "form") do %>
			<div class="form-group">
				<%= label_tag("Banda") %>
				<%= text_field_tag("nombre","",:class => "form-control") %>
			</div>
	<%= submit_tag("Añadir banda",:class => "btn btn-primary") %>
		<% end %>
	</div>
</div>
<br>
<!-- Estadisticas de las bandas -->
<div id="content_tabla">
	<%= render :partial => "tabla" %> <!--aca hago el render de la vista parcial del menu -->
</div>
